doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='Description' content='Личный блог Типотека')
  title &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;
  link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='css/style.min.css')
.wrapper-color
  header.header.header--error
    a.header__logo.header__logo--500.logo(href='#')
      img(src='img/icons/logo.svg' alt='логотип Тайпотеки')
    a.header__registration(href='#') &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
    a.header__enter(href='#') &Vcy;&khcy;&ocy;&dcy; &scy; &pcy;&acy;&rcy;&ocy;&lcy;&iecy;&mcy;
    a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
  main
    h1.visually-hidden &Ocy;&shcy;&icy;&bcy;&kcy;&acy; 500
    section.error.error--500
      h2.error__title.title.title--big &CHcy;&tcy;&ocy;-&tcy;&ocy; &pcy;&ocy;&shcy;&lcy;&ocy; &ncy;&iecy; &tcy;&acy;&kcy;
      p.error__text.text.text--big
        | &Pcy;&rcy;&icy;&chcy;&icy;&ncy; &mcy;&ocy;&zhcy;&iecy;&tcy; &bcy;&ycy;&tcy;&softcy; &mcy;&ncy;&ocy;&gcy;&ocy;: &scy;&iecy;&rcy;&vcy;&iecy;&rcy; &ncy;&iecy; &vcy;&ycy;&dcy;&iecy;&rcy;&zhcy;&acy;&lcy; &ncy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&ucy; &icy;&lcy;&icy; &vcy; &kcy;&ocy;&dcy;&iecy; &ocy;&shcy;&icy;&bcy;&kcy;&acy;.
        | &Pcy;&ocy;&pcy;&rcy;&ocy;&bcy;&ucy;&jcy;&tcy;&iecy; &pcy;&ocy;&vcy;&tcy;&ocy;&rcy;&icy;&tcy;&softcy; &pcy;&ocy;&pcy;&ycy;&tcy;&kcy;&ucy; &pcy;&ocy;&zcy;&zhcy;&iecy;.
      a.error__link.text.text--big(href='main.html') &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &gcy;&lcy;&acy;&vcy;&ncy;&ucy;&yucy;
  footer.footer
    a.footer__copyright(href='#' aria-label='HTMLAcademy')
      img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
    span &bull;
    p &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;, 2019
