header.header
  a.header__logo.logo(href='#')
    img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        a.header__registration(href='#') &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
      li.header__list-item
        a.header__enter(href='#') &Vcy;&khcy;&ocy;&dcy; &scy; &pcy;&acy;&rcy;&ocy;&lcy;&iecy;&mcy;
  a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
