main.main-page
  h1.visually-hidden &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &lcy;&icy;&chcy;&ncy;&ocy;&gcy;&ocy; &bcy;&lcy;&ocy;&gcy;&acy; &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;
  p
    | &Ecy;&tcy;&ocy; &pcy;&rcy;&icy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &tcy;&iecy;&kcy;&scy;&tcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &vcy;&lcy;&acy;&dcy;&iecy;&lcy;&iecy;&tscy; &bcy;&lcy;&ocy;&gcy;&acy; &mcy;&ocy;&zhcy;&iecy;&tcy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &ocy;&pcy;&icy;&scy;&acy;&tcy;&softcy; &scy;&iecy;&bcy;&yacy; &#x1F44F;
  section.main-page__theme-list
    h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &tcy;&iecy;&mcy;
    ul.themes
      li.themes__item
        a.themes__item-link(href='#')
          | &Acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;
          sup 88
      li.themes__item
        a.themes__item-link(href='#')
          | &Ucy;&dcy;&acy;&lcy;&iecy;&ncy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
          sup 13
      li.themes__item
        a.themes__item-link(href='#')
          | &Bcy;&icy;&zcy;&ncy;&iecy;&scy;
          sup 13
      li.themes__item
        a.themes__item-link(href='#')
          | &Pcy;&ucy;&tcy;&iecy;&shcy;&iecy;&scy;&tcy;&vcy;&icy;&yacy;
          sup 13
      li.themes__item
        a.themes__item-link.themes__item-link--padding(href='#')
          | &Dcy;&icy;&zcy;&acy;&jcy;&ncy; &icy; &ocy;&bcy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ocy;
          sup 13
      li.themes__item
        a.themes__item-link(href='#')
          | &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &icy;&gcy;&rcy;&ucy;&shcy;&iecy;&kcy;
          sup 22
      li.themes__item
        a.themes__item-link(href='#')
          | UX &amp; UI
          sup 22
  .main-page__section-flex
    section.main-page__hot.hot
      h2.hot__name
        | &Scy;&acy;&mcy;&ocy;&iecy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&mcy;&ocy;&iecy;
        span.hot__icon.hot__icon--fire
      ul.hot__list
        li.hot__list-item
          a.hot__list-link(href='#')
            | &Bcy;&icy;&lcy;&lcy; &Gcy;&iecy;&jcy;&tcy;&scy; &vcy;&pcy;&iecy;&rcy;&vcy;&ycy;&iecy; &zcy;&acy; &dcy;&vcy;&acy; &gcy;&ocy;&dcy;&acy; &vcy;&ocy;&zcy;&gcy;&lcy;&acy;&vcy;&icy;&lcy; &rcy;&iecy;&jcy;&tcy;&icy;&ncy;&gcy; &scy;&acy;&mcy;&ycy;&khcy; &bcy;&ocy;&gcy;&acy;&tcy;&ycy;&khcy; &lcy;&yucy;&dcy;&iecy;&jcy;
            | &mcy;&icy;&rcy;&acy; &pcy;&ocy; &vcy;&iecy;&rcy;&scy;&icy;&icy; Bloomberg
            sup.hot__link-sup 12
        li.hot__list-item
          a.hot__list-link(href='#')
            | &Scy;&iecy;&rcy;&vcy;&icy;&scy; &dcy;&lcy;&yacy; &acy;&ncy;&acy;&lcy;&icy;&tcy;&icy;&kcy;&icy; Telegram-&chcy;&acy;&tcy;&ocy;&vcy; Combot &pcy;&ocy;&pcy;&acy;&lcy; &pcy;&ocy;&dcy; &bcy;&lcy;&ocy;&kcy;&icy;&rcy;&ocy;&vcy;&kcy;&ucy; &icy;&zcy;-&zcy;&acy;
            | &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy; &ncy;&acy; &scy;&lcy;&ucy;&zhcy;&iecy;&bcy;&ncy;&ocy;&jcy;
            sup.hot__link-sup 15
            |  &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&iecy;
        li.hot__list-item.hot__list-item--margin
          a.hot__list-link(href='#')
            | &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &Kcy;&acy;&jcy;&lcy;&icy; &Dcy;&zhcy;&iecy;&ncy;&ncy;&iecy;&rcy; &pcy;&rcy;&ocy;&dcy;&acy;&scy;&tcy; 51% &scy;&vcy;&ocy;&iecy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; Kylie Cosmetics
            | &vcy;&lcy;&acy;&dcy;&iecy;&lcy;&softcy;&tscy;&ucy; Factor &zcy;&acy; $600 &mcy;&lcy;&ncy;
            sup.hot__link-sup 52
        li.hot__list-item.hot__list-item--end
          a.hot__list-link(href='#')
            | Tesla &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&acy; 146 &tcy;&ycy;&scy;&yacy;&chcy; &pcy;&rcy;&iecy;&dcy;&zcy;&acy;&kcy;&acy;&zcy;&ocy;&vcy; &ncy;&acy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &pcy;&icy;&kcy;&acy;&pcy; Cybertruck
            | &zcy;&acy; &dcy;&vcy;&ocy;&iecy; &scy;&ucy;&tcy;&ocy;&kcy;
            sup.hot__link-sup 153
    section.main-page__last.last
      h2.last__name
        | &Pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&icy;&iecy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
        span.last__icon.last__icon--cloud
      ul.last__list
        li.last__list-item
          img.last__list-image(src='img/avatar-small-1.png' width='20' height='20' alt='Аватар пользователя')
          b.last__list-name &Acy;&ncy;&ncy;&acy; &Acy;&rcy;&tcy;&acy;&mcy;&ocy;&ncy;&ocy;&vcy;&acy;
          a.last__list-link(href='#')
            | &Scy;&iecy;&rcy;&vcy;&icy;&scy; &acy;&rcy;&iecy;&ncy;&dcy;&ycy; &zhcy;&icy;&lcy;&softcy;&yacy; Airbnb &scy;&tcy;&acy;&lcy; &gcy;&lcy;&ocy;&bcy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&mcy; &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ocy;&gcy;&ocy;
            | &ocy;&lcy;&icy;&mcy;&pcy;&icy;&jcy;&scy;&kcy;&ocy;&gcy;&ocy; &kcy;&ocy;&mcy;&icy;&tcy;&iecy;&tcy;&acy;
            | (&Mcy;&Ocy;&Kcy;) &ncy;&acy; &dcy;&iecy;&vcy;&yacy;&tcy;&softcy; &lcy;&iecy;&tcy;, &vcy; &tcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&khcy; &pcy;&rcy;&ocy;&jcy;&dcy;&iecy;&tcy; &pcy;&yacy;&tcy;&softcy; &Ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;, &vcy; &tcy;&ocy;&mcy; &chcy;&icy;&scy;&lcy;&iecy; &vcy; &Tcy;&ocy;&kcy;&icy;&ocy; &vcy; 2020 &gcy;&ocy;&dcy;&ucy;.
        li.last__list-item
          img.last__list-image(src='img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
          b.last__list-name &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy;
          a.last__list-link(href='#')
            | &Gcy;&lcy;&acy;&vcy;&rcy;&iecy;&dcy;&ycy; &laquo;&Dcy;&ocy;&zhcy;&dcy;&yacy;&raquo;, Forbes &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &Scy;&Mcy;&Icy; &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&lcy;&icy; &Rcy;&ocy;&scy;&kcy;&ocy;&mcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy;
            | &rcy;&acy;&zcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy;&softcy; &shcy;&tcy;&rcy;&acy;&fcy;&ycy; &zcy;&acy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy;
            | &scy;&acy;&jcy;&tcy;&ycy; &scy; &mcy;&acy;&tcy;&ocy;&mcy;
        li.last__list-item.last__list-item--end
          img.last__list-image(src='img/avatar-small-3.png' width='20' height='20' alt='Аватар пользователя')
          b.last__list-name &Icy;&gcy;&ocy;&rcy;&softcy; &SHcy;&mcy;&acy;&ncy;&scy;&kcy;&icy;&jcy;
          a.last__list-link(href='#')
            | &CHcy;&tcy;&ocy;-&tcy;&ocy; &vcy;&scy;&iecy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&kcy;&acy;&rcy;&ycy; &vcy; &pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&iecy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &vcy;&scy;&iecy; &ncy;&acy; &ocy;&dcy;&ncy;&ocy; &lcy;&icy;&tscy;&ocy;
            | &dcy;&iecy;&lcy;&acy;&yucy;&tcy;&scy;&yacy;))
  section.main-page__list.preview
    h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &pcy;&rcy;&iecy;&vcy;&softcy;&yucy; &scy;&tcy;&acy;&tcy;&iecy;&jcy;
    ul.preview__list
      li.preview__item
        ul.preview__breadcrumbs
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') &Dcy;&icy;&zcy;&acy;&jcy;&ncy;
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') &Ucy;&dcy;&acy;&lcy;&iecy;&ncy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
        .preview__background
          img.preview__background-image(src='img/skyscraper@1x.jpg' width='460' height='240' srcset='img/skyscraper@1x.jpg 1x, img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
        time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        h3.preview__name
          a.preview__name-link(href='#') &YAcy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &ncy;&iecy; &pcy;&ocy;&ncy;&yacy;&lcy;
        p.preview__text
          | &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &scy;&acy;&mcy;&icy; &pcy;&icy;&shcy;&iecy;&tcy;&iecy; &tcy;&acy;&kcy;&icy;&iecy; &pcy;&icy;&scy;&softcy;&mcy;&acy; &mdash; &pcy;&ocy;&chcy;&icy;&tcy;&acy;&jcy;&tcy;&iecy; &Icy;&lcy;&softcy;&yacy;&khcy;&ocy;&vcy;&acy;.
          | &Acy; &vcy; &ecy;&tcy;&ocy;&jcy; &zcy;&acy;&mcy;&iecy;&tcy;&kcy;&iecy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy; &pcy;&rcy;&ocy; &zcy;&acy;&kcy;&lcy;&icy;&ncy;&acy;&ncy;&icy;&iecy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &ocy;&tcy; &tcy;&acy;&kcy;&icy;&khcy; &pcy;&icy;&scy;&iecy;&mcy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&iecy;&tcy;.
        a.preview__comment(href='#')
          | &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
          span.preview__cloud
          b.preview__comment-count 12
      li.preview__item
        ul.preview__breadcrumbs
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') &Fcy;&rcy;&icy;&lcy;&acy;&ncy;&scy;
        .preview__background
          img.preview__background-image(src='img/sea@1x.jpg' width='460' height='240' srcset='img/sea@1x.jpg 1x, img/sea@2x.jpg 2x' alt='Фотография моря')
        time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        h3.preview__name
          a.preview__name-link(href='#') &Pcy;&ucy;&tcy;&iecy;&shcy;&iecy;&scy;&tcy;&vcy;&icy;&iecy; &vcy; &Gcy;&ocy;&lcy;&lcy;&acy;&ncy;&dcy;&icy;&yucy;
        p.preview__text
          | &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &scy;&acy;&mcy;&icy; &pcy;&icy;&shcy;&iecy;&tcy;&iecy; &tcy;&acy;&kcy;&icy;&iecy; &pcy;&icy;&scy;&softcy;&mcy;&acy; &mdash; &pcy;&ocy;&chcy;&icy;&tcy;&acy;&jcy;&tcy;&iecy; &Icy;&lcy;&softcy;&yacy;&khcy;&ocy;&vcy;&acy;.
          | &Acy; &vcy; &ecy;&tcy;&ocy;&jcy; &zcy;&acy;&mcy;&iecy;&tcy;&kcy;&iecy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy; &pcy;&rcy;&ocy; &zcy;&acy;&kcy;&lcy;&icy;&ncy;&acy;&ncy;&icy;&iecy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &ocy;&tcy; &tcy;&acy;&kcy;&icy;&khcy; &pcy;&icy;&scy;&iecy;&mcy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&iecy;&tcy;.
        a.preview__comment(href='#')
          | &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
          span.preview__cloud
          b.preview__comment-count 12
      li.preview__item.preview__item--noimage
        ul.preview__breadcrumbs
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') &Fcy;&rcy;&icy;&lcy;&acy;&ncy;&scy;
        time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        h3.preview__name
          a.preview__name-link(href='#')
            | &Pcy;&ucy;&tcy;&icy;&ncy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&lcy; &zcy;&acy;&kcy;&ocy;&ncy; &ocy; &pcy;&rcy;&iecy;&dcy;&ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&iecy; &rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&icy;&khcy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&jcy; &ncy;&acy;
            | &scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy; &icy; &dcy;&rcy;&ucy;&gcy;&ucy;&yucy;
            | &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&ucy;
        p.preview__text
          | &Pcy;&rcy;&iecy;&zcy;&icy;&dcy;&iecy;&ncy;&tcy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &Vcy;&lcy;&acy;&dcy;&icy;&mcy;&icy;&rcy; &Pcy;&ucy;&tcy;&icy;&ncy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&lcy; &zcy;&acy;&kcy;&ocy;&ncy; &ocy;&bcy; &ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &pcy;&rcy;&iecy;&dcy;&ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&iecy;
          | &rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ncy;&ocy;&gcy;&ocy;
          | &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&iecy;&ncy;&icy;&yacy; &ncy;&acy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ucy;&yucy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&ucy;, &pcy;&rcy;&ocy;&dcy;&acy;&vcy;&acy;&iecy;&mcy;&ucy;&yucy; &vcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;. &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy; &ocy;&pcy;&ucy;&bcy;&lcy;&icy;&kcy;&ocy;&vcy;&acy;&ncy; &ncy;&acy; &ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy; &scy;&acy;&jcy;&tcy;&iecy;
          | &pcy;&rcy;&acy;&vcy;&ocy;&vcy;&ocy;&jcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy;.
        a.preview__comment(href='#')
          | &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
          span.preview__cloud
          b.preview__comment-count 12
      li.preview__item
        ul.preview__breadcrumbs
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') &Dcy;&icy;&zcy;&acy;&jcy;&ncy;
          li.preview__breadcrumbs-item
            a.preview__breadcrumbs-link(href='#') &Ucy;&dcy;&acy;&lcy;&iecy;&ncy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
        .preview__background
          img(src='img/forest@1x.jpg' width='460' height='240' srcset='img/forest@1x.jpg 1x, img/forest@2x.jpg 2x' alt='Фотография леса')
        time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        h3.preview__name
          a.preview__name-link(href='#') &YAcy; &pcy;&ocy;&ncy;&yacy;&lcy;, &ncy;&ocy; &ncy;&iecy; &vcy;&scy;&iecy;
        p.preview__text
          | &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &scy;&acy;&mcy;&icy; &pcy;&icy;&shcy;&iecy;&tcy;&iecy; &tcy;&acy;&kcy;&icy;&iecy; &pcy;&icy;&scy;&softcy;&mcy;&acy; &mdash; &pcy;&ocy;&chcy;&icy;&tcy;&acy;&jcy;&tcy;&iecy; &Icy;&lcy;&softcy;&yacy;&khcy;&ocy;&vcy;&acy;.
          | &Acy; &vcy; &ecy;&tcy;&ocy;&jcy; &zcy;&acy;&mcy;&iecy;&tcy;&kcy;&iecy; &yacy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zhcy;&ucy; &pcy;&rcy;&ocy; &zcy;&acy;&kcy;&lcy;&icy;&ncy;&acy;&ncy;&icy;&iecy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &ocy;&tcy; &tcy;&acy;&kcy;&icy;&khcy; &pcy;&icy;&scy;&iecy;&mcy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&iecy;&tcy;.
        a.preview__comment(href='#')
          | &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
          span.preview__cloud
          b.preview__comment-count 12
