.wrapper
  header.header
    a.header__logo.logo(href='#')
      img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
      span.logo__name &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          p &Acy;&lcy;&iocy;&ncy;&acy; &Fcy;&rcy;&ocy;&lcy;&ocy;&vcy;&acy;
        li.header__list-item
          a.header__exit(href='#') &Vcy;&ycy;&jcy;&tcy;&icy;
    a.header__avatar.avatar
      img(src='img/avatar-2.png' alt='аватар пользователя')
    a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
  main
    section.post
      h1.visually-hidden &Pcy;&ocy;&scy;&tcy;
      section.post__content
        h2.visually-hidden &Ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&iecy; &scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') &Ncy;&acy;&zcy;&acy;&dcy;
            time.post__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            h2.post__title.title.title--main AirPods &vcy; &ocy;&dcy;&icy;&ncy; &kcy;&lcy;&icy;&kcy;
            ul.post__themes.themes
              li.themes__item
                a.themes__item-link(href='#')
                  | &Acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;
                  sup 88
                button.themes__remove-btn(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
              li.themes__item
                a.themes__item-link(href='#')
                  | &Ucy;&dcy;&acy;&lcy;&iecy;&ncy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
                  sup 13
                button.themes__remove-btn(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
              li.themes__item
                a.themes__item-link(href='#')
                  | &Bcy;&icy;&zcy;&ncy;&iecy;&scy;
                  sup 13
                button.themes__remove-btn(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          .post__picture
            img(src='img/sea-fullsize@1x.jpg' alt='пейзаж море, скалы, пляж')
          .post__text
            h3 &Bcy;&icy;&rcy;&yucy;&zcy;&ocy;&vcy;&ocy;&iecy; &dcy;&ocy;&vcy;&iecy;&rcy;&icy;&iecy;
            p
              | &Ucy; Apple &icy;&ncy;&ocy;&gcy;&dcy;&acy; &pcy;&ocy;&pcy;&acy;&dcy;&acy;&yucy;&tcy;&scy;&yacy; &icy;&ncy;&tcy;&iecy;&rcy;&fcy;&iecy;&jcy;&scy;&ycy;, &zcy;&acy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &scy;&ocy;&zcy;&dcy;&acy;&tcy;&iecy;&lcy;&iecy;&jcy; &khcy;&ocy;&chcy;&iecy;&tcy;&scy;&yacy; &scy;&icy;&lcy;&softcy;&ncy;&ocy;
              | &pcy;&ocy;&rcy;&ucy;&gcy;&acy;&tcy;&softcy;
              | &mdash; &kcy; &pcy;&rcy;&icy;&mcy;&iecy;&rcy;&ucy; &icy;&ncy;&tcy;&iecy;&rcy;&fcy;&iecy;&jcy;&scy;
              | &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; &vcy; AppStore, &dcy;&lcy;&yacy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &yacy; &ucy;&zhcy;&iecy; &ncy;&iecy;&dcy;&iecy;&lcy;&yucy; &vcy;&ocy;&scy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&lcy;&icy;&vcy;&acy;&yucy; &scy;&vcy;&ocy;&jcy; &acy;&kcy;&kcy;&acy;&ucy;&ncy;&tcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy;&acy;.
            p
              | &Icy;&lcy;&icy; &icy;&ncy;&tcy;&iecy;&rcy;&fcy;&iecy;&jcy;&scy; &pcy;&ocy;&dcy;&kcy;&lcy;&yucy;&chcy;&iecy;&ncy;&icy;&yacy; AirPods &ncy;&acy; &mcy;&acy;&kcy;&bcy;&ucy;&kcy;&iecy;. &CHcy;&tcy;&ocy;&bcy;&ycy; &pcy;&iecy;&rcy;&iecy;&kcy;&lcy;&yucy;&chcy;&icy;&tcy;&softcy; &ncy;&acy;&ucy;&shcy;&ncy;&icy;&kcy;&icy; &mcy;&iecy;&zhcy;&dcy;&ucy;
              | &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ocy;&mcy; &icy; &kcy;&ocy;&mcy;&pcy;&softcy;&yucy;&tcy;&iecy;&rcy;&ocy;&mcy;,
              | &ncy;&ucy;&zhcy;&ncy;&ocy; &scy;&ncy;&acy;&chcy;&acy;&lcy;&acy; &ncy;&acy;&zhcy;&acy;&tcy;&softcy; &ncy;&acy; &zcy;&ncy;&acy;&chcy;&ocy;&kcy; &zcy;&vcy;&ucy;&kcy;&acy;, &zcy;&acy;&tcy;&iecy;&mcy; &dcy;&ocy;&zhcy;&dcy;&acy;&tcy;&softcy;&scy;&yacy;, &kcy;&ocy;&gcy;&dcy;&acy; &vcy; &scy;&pcy;&icy;&scy;&kcy;&iecy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy; &pcy;&ocy;&yacy;&vcy;&yacy;&tcy;&scy;&yacy; &ncy;&acy;&ucy;&shcy;&ncy;&icy;&kcy;&icy;, &pcy;&ocy;&tcy;&ocy;&mcy;
              | &ncy;&acy;&zhcy;&acy;&tcy;&softcy; &ncy;&acy; &ncy;&icy;&khcy; &icy; &dcy;&ocy;&zhcy;&dcy;&acy;&tcy;&softcy;&scy;&yacy;, &pcy;&ocy;&kcy;&acy; &scy;&lcy;&ucy;&chcy;&icy;&tcy;&scy;&yacy; &vcy;&scy;&yacy; &mcy;&acy;&gcy;&icy;&yacy; &pcy;&ocy;&dcy;&kcy;&lcy;&yucy;&chcy;&iecy;&ncy;&icy;&yacy;. &Icy;&ncy;&ocy;&gcy;&dcy;&acy; &pcy;&ocy; &zcy;&acy;&gcy;&acy;&dcy;&ocy;&chcy;&ncy;&ycy;&mcy; &pcy;&rcy;&icy;&chcy;&icy;&ncy;&acy;&mcy; &mcy;&acy;&gcy;&icy;&yacy; &ncy;&iecy;
              | &scy;&lcy;&ucy;&chcy;&acy;&iecy;&tcy;&scy;&yacy;, &icy; &ocy;&pcy;&iecy;&rcy;&acy;&tscy;&icy;&yucy; &ncy;&ucy;&zhcy;&ncy;&ocy; &pcy;&ocy;&vcy;&tcy;&ocy;&rcy;&icy;&tcy;&softcy;, &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&yacy;&yacy; &vcy;&scy;&iecy; &tcy;&iecy; &zhcy;&iecy; &kcy;&lcy;&icy;&kcy;&icy;-&ocy;&zhcy;&icy;&dcy;&acy;&ncy;&icy;&yacy;-&kcy;&lcy;&icy;&kcy;&icy; &mdash; &bcy;&iecy;&scy;&icy;&tcy;.
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
          ul.comments__list
            li.comments__comment
              .comments__avatar.avatar
                img(src='img/avatar-1.png' alt='аватар пользователя')
              .comments__text
                .comments__head
                  p &IEcy;&vcy;&gcy;&iecy;&ncy;&icy;&jcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy; &bull;
                  time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                p.comments__message &Acy;&vcy;&tcy;&ocy;&rcy;, &tcy;&ycy; &vcy;&scy;&iecy; &vcy;&ycy;&dcy;&ucy;&mcy;&acy;&lcy;, &pcy;&ocy;&kcy;&acy;&jcy;&scy;&yacy;
            li.comments__comment
              .comments__avatar.avatar
                img(src='img/avatar-5.png' alt='аватар пользователя')
              .comments__text
                .comments__head
                  p &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Mcy;&acy;&rcy;&kcy;&ocy;&vcy; &bull;
                  time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                p.comments__message
                  | &Kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy;, &pcy;&rcy;&iecy;&zhcy;&dcy;&iecy; &chcy;&iecy;&mcy; &tcy;&acy;&kcy; &pcy;&icy;&scy;&acy;&tcy;&softcy;, &ncy;&ucy;&zhcy;&ncy;&ocy;
                  | &icy;&scy;&kcy;&rcy;&iecy;&ncy;&ncy;&iecy;
                  | &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&icy;&tcy;&softcy; &ucy;&scy;&icy;&lcy;&icy;&yacy;, &chcy;&tcy;&ocy;&bcy;&ycy; &rcy;&acy;&zcy;&ocy;&bcy;&rcy;&acy;&tcy;&softcy;&scy;&yacy; &mdash; &ncy;&iecy; &vcy;&scy;&iecy; &lcy;&yucy;&dcy;&icy; &ucy;&mcy;&iecy;&yucy;&tcy; &vcy;&ycy;&rcy;&acy;&zhcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&icy; &mcy;&ycy;&scy;&lcy;&icy;.
            li.comments__comment
              .comments__avatar.avatar
                img(src='img/avatar-4.png' alt='аватар пользователя')
              .comments__text
                .comments__head
                  p &IEcy;&vcy;&gcy;&iecy;&ncy;&icy;&jcy; &Pcy;&iecy;&tcy;&rcy;&ocy;&vcy; &bull;
                  time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                p.comments__message &Acy;&vcy;&tcy;&ocy;&rcy;, &tcy;&ycy; &vcy;&scy;&iecy; &vcy;&ycy;&dcy;&ucy;&mcy;&acy;&lcy;, &pcy;&ocy;&kcy;&acy;&jcy;&scy;&yacy;
            li.comments__comment
              .comments__avatar.avatar
                img(src='img/avatar-3.png' alt='аватар пользователя')
              .comments__text
                .comments__head
                  p &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Mcy;&acy;&rcy;&kcy;&ocy;&vcy; &bull;
                  time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                p.comments__message
                  | &Kcy;&ocy;&ncy;&iecy;&chcy;&ncy;&ocy;, &pcy;&rcy;&iecy;&zhcy;&dcy;&iecy; &chcy;&iecy;&mcy; &tcy;&acy;&kcy; &pcy;&icy;&scy;&acy;&tcy;&softcy;, &ncy;&ucy;&zhcy;&ncy;&ocy;
                  | &icy;&scy;&kcy;&rcy;&iecy;&ncy;&ncy;&iecy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&icy;&tcy;&softcy; &ucy;&scy;&icy;&lcy;&icy;&yacy;, &chcy;&tcy;&ocy;&bcy;&ycy; &rcy;&acy;&zcy;&ocy;&bcy;&rcy;&acy;&tcy;&softcy;&scy;&yacy; &mdash; &ncy;&iecy; &vcy;&scy;&iecy; &lcy;&yucy;&dcy;&icy; &ucy;&mcy;&iecy;&yucy;&tcy; &vcy;&ycy;&rcy;&acy;&zhcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&icy; &mcy;&ycy;&scy;&lcy;&icy;.
          .comments__footer.comments__footer--user
            form(action='#' method='POST')
              .comments__avatar.avatar
                img(src='img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(rows='1' placeholder='Присоединиться к обсуждению')
              button.comments__button.button.button--colored(type='submit') &Ocy;&pcy;&ucy;&bcy;&lcy;&icy;&kcy;&ocy;&vcy;&acy;&tcy;&softcy;
  footer.footer
    a.footer__copyright(href='#' aria-label='HTMLAcademy')
      img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
    span &bull;
    p &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;, 2019
