.wrapper-color
  header.header
    a.header__logo.logo(href='#')
      img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
      span.logo__name &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;
    button.button.button--colored.header__button-new &Ncy;&ocy;&vcy;&acy;&yacy; &zcy;&acy;&pcy;&icy;&scy;&softcy;
    .header__dropdown
      a.button.button--burger.header__burger(href='#') &Ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&softcy; &mcy;&iecy;&ncy;&yucy;
      ul.navigation.header__navigation
        li.navigation__item
          a(href='index.html') index.html --- &vcy;&scy;&iecy; &scy;&scy;&ycy;&lcy;&kcy;&icy;
        li.navigation__item
          a(href='main.html') main.html --- &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy;
        li.navigation__item
          a(href='main-variation.html') main-variation.html --- &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; (&vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ycy; &vcy;&icy;&dcy;&acy;)
        li.navigation__item
          a(href='main-no-news.html') main-no-news.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &bcy;&iecy;&zcy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&iecy;&jcy; &icy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
        li.navigation__item
          a(href='admin-my-publications-2.html') admin-my-publications-2.html --- &Mcy;&ocy;&icy; &zcy;&acy;&pcy;&icy;&scy;&icy;
        li.navigation__item
          a(href='admin-categories.html') admin-categories.html --- &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
        li.navigation__item
          a(href='admin-my-publications-1.html') admin-my-publications-1.html --- &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
        li.navigation__item
          a(href='new-post-photo.html') new-post-photo.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &dcy;&lcy;&yacy; &ncy;&ocy;&vcy;&ocy;&gcy;&ocy; &pcy;&ocy;&scy;&tcy;&acy;
        li.navigation__item
          a(href='new-post-photo-1.html') new-post-photo-1.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &dcy;&ocy;&bcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &ncy;&ocy;&vcy;&ocy;&gcy;&ocy; &pcy;&ocy;&scy;&tcy;&acy;
        li.navigation__item
          a(href='new-post-photo-2.html') new-post-photo-2.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &dcy;&ocy;&bcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &ncy;&ocy;&vcy;&ocy;&gcy;&ocy; &pcy;&ocy;&scy;&tcy;&acy; (&vcy;&ycy;&bcy;&ocy;&rcy; &dcy;&acy;&tcy;&ycy;)
        li.navigation__item
          a(href='new-post-photo-3.html') new-post-photo-3.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &dcy;&ocy;&bcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &ncy;&ocy;&vcy;&ocy;&gcy;&ocy; &pcy;&ocy;&scy;&tcy;&acy; (&zcy;&acy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&ncy;&acy;&yacy;)
        li.navigation__item
          a(href='main-empty.html') main-empty.html --- &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ucy;&scy;&tcy;&acy;&yacy;
        li.navigation__item
          a(href='registration.html') registration.html --- &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
        li.navigation__item
          a(href='sign-in-error-1.html') sign-in-error-1.html.html --- &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; c &ocy;&shcy;&icy;&bcy;&kcy;&acy;&mcy;&icy;
        li.navigation__item
          a(href='sign-in-error-2.html')
            | sign-in-error-2.html--- &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; c
            | &ocy;&shcy;&icy;&bcy;&kcy;&ocy;&jcy; &pcy;&ocy;&lcy;&yacy; email
        li.navigation__item
          a(href='sign-in-error-3.html')
            | sign-in-error-3.html--- &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; c
            | &ocy;&shcy;&icy;&bcy;&kcy;&ocy;&jcy; &pcy;&ocy;&lcy;&yacy; &pcy;&acy;&rcy;&ocy;&lcy;&softcy;
        li.navigation__item
          a(href='publications-by-category.html') publications-by-category.html --- &Scy;&pcy;&icy;&scy;&ocy;&kcy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&jcy; &vcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
        li.navigation__item
          a(href='404.html') 404.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &dcy;&lcy;&yacy; &ocy;&tcy;&ocy;&bcy;&rcy;&acy;&zhcy;&iecy;&ncy;&icy;&yacy; &ocy;&shcy;&icy;&bcy;&ocy;&kcy;
        li.navigation__item
          a(href='500.html') 500.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &dcy;&lcy;&yacy; &ocy;&tcy;&ocy;&bcy;&rcy;&acy;&zhcy;&iecy;&ncy;&icy;&yacy; &ocy;&shcy;&icy;&bcy;&ocy;&kcy;
        li.navigation__item
          a(href='search.html') search.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;&icy;&scy;&kcy;&acy;
        li.navigation__item
          a(href='search-2.html') search-2.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;&icy;&scy;&kcy;&acy; &scy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&mcy;&icy;
        li.navigation__item
          a(href='search-3.html') search-3.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;&icy;&scy;&kcy;&acy; &pcy;&ucy;&scy;&tcy;&acy;&yacy;
        li.navigation__item
          a(href='post-user.html') post-user.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;c&tcy;&acy; (&dcy;&lcy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;)
        li.navigation__item
          a(href='post-visitor-no-tags.html') post-visitor-no-tags.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;c&tcy;&acy; (&dcy;&lcy;&yacy; &pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&iecy;&lcy;&yacy;) &bcy;&iecy;&zcy; &tcy;&iecy;&gcy;&ocy;&vcy;
        li.navigation__item
          a(href='post-visitor-no-comments.html')
            | post-visitor-no-comments.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;c&tcy;&acy; (&dcy;&lcy;&yacy; &pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&iecy;&lcy;&yacy;) &bcy;&iecy;&zcy;
            | &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&iecy;&vcy;
        li.navigation__item
          a(href='post-visitor-no-photo.html')
            | post-visitor-no-photo.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;c&tcy;&acy; (&dcy;&lcy;&yacy; &pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&iecy;&lcy;&yacy;) &bcy;&iecy;&zcy;
            | &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy;
        li.navigation__item
          a(href='post-user-2.html')
            | post-user-2.html --- &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&ocy;c&tcy;&acy; (&dcy;&lcy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;) &scy;
            | &ocy;&shcy;&icy;&bcy;&kcy;&ocy;&jcy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&kcy;&icy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&yacy;
        li.navigation__item
          a(href='uikit.html') uikit.html --- UI KIT
    a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
  main
    section.search-page
      .search-page__wrapper
        h1 &Pcy;&ocy;&icy;&scy;&kcy;
        .search.search-page__form
          form(action='#' method='get')
            label
              input(type='text' placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') &Ncy;&acy;&jcy;&tcy;&icy;
